<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
        point="org.eclipse.ui.views">
        <category
            id="org.ruyisdk.packages.category"
            name="RuyiSDK"/>
        <view
            id="org.ruyisdk.packages.view"
            name="Ruyi Package Explorer"
            class="org.ruyisdk.packages.PackageExplorerView"
            category="org.ruyisdk.packages.category"/>
    </extension>
</plugin>
