<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- 在核心插件的plugin.xml中定义根分类-->
	<extension point="org.eclipse.ui.preferencePages">
		<page id="org.ruyisdk.preferences.root"
			name="RuyiSDK"
			class="org.ruyisdk.core.preferences.RuyiSdkPreferenceContainer"
			icon="icons/ruyisdk-icon16.png">
		</page>
	</extension>

</plugin>
