<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
        point="org.eclipse.ui.views">
        <category
            id="org.ruyisdk.news.category"
            name="RuyiSDK"/>
        <view
            id="org.ruyisdk.news.view"
            name="Ruyi News"
            class="org.ruyisdk.news.views.NewsView"
            category="org.ruyisdk.news.category"/>
    </extension>
</plugin>
